window {
    margin: 0px;
    border: 1px solid #ffffff;
    background-color: #1e1e1e;
    font-family: JetBrains Mono;
    font-size: 12px;
}

#input {
    margin: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #2e2e2e;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1e1e1e;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1e1e1e;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
}

#entry:selected {
    background-color: #2e2e2e;
}
