window {
    border: 2px solid #49483e;
    background-color: #272822;
}
#input {
    margin: 8px;
    border: 1px solid #75715e;
    color: #f8f8f2;
    background-color: #49483e;
    padding: 8px;
    font-family: "Inter";
    font-size: 10px;
}
#inner-box {
    margin: 8px;
    border: none;
    background-color: transparent;
}
#outer-box {
    border: none;
    background-color: transparent;
}
#scroll {
    border: none;
}
#text {
    margin: 8px;
    border: none;
    color: #f8f8f2;
    font-family: "Inter";
    font-size: 10px;
}
#text:selected {
    color: #272822;
}
#entry {
    border: none;
    background-color: transparent;
}
#entry:selected {
    background-color: #66d9ef;
    color: #272822;
}
#entry:hover {
    background-color: #49483e;
}
